
.navbar{
  background-color: #6788B0;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.sidebar__list-items{
  display: flex;
  flex-direction: row;
  list-style-type: none;

}
.cart{
  color:#fff;
  margin-right: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: #fff;
  margin-left: 100px;
}

.link:hover {
  font-size: 1.3rem;
  transition: ease-in 2ms;
}
