 .item{
    color:#fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    
}
.item__data{
    display: flex;
    flex-direction: row;
    padding:15px;
}
.item__data li{
    margin-left: 20px;
    margin-right: 50px;
    list-style-type: none;
}
 .item__data li a{
    text-decoration: none;
    color:#fff;
}
.item__cart{
    display: flex;
    align-items: center;
    margin-left:900px;
}